<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\nlog-internal.log">

	<!-- targets = куда писать логи -->
	<targets>
		<!-- 1. В консоль (удобно при отладке) -->
		<target name="console" xsi:type="Console"
				layout="${longdate} | ${level:uppercase=true:padding=5} | ${message} ${exception:format=ToString}" />

		<!-- 2. В файл с ежедневной ротацией -->
		<target name="file" xsi:type="File"
				fileName="logs/${shortdate}.log"
				archiveFileName="logs/archives/{#}.log"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="30"
				layout="${longdate} | ${level:uppercase=true:padding=5} | ${logger:shortName=true} | ${message} ${exception:format=ToString}" />

		<!-- 3. Только ошибки в отдельный файл -->
		<target name="errors" xsi:type="File"
				fileName="logs/errors-${shortdate}.log"
				layout="${longdate} | ERROR | ${message} ${exception:format=ToString,StackTrace}" />
	</targets>

	<!-- rules = что и куда писать -->
	<rules>
		<!-- всё в консоль и в общий файл -->
		<logger name="*" minlevel="Trace" writeTo="console,file" />

		<!-- только ошибки → ещё и в отдельный файл -->
		<logger name="*" minlevel="Error" writeTo="errors" />
	</rules>
</nlog>